<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        h2 {
            color: white;
            top: 150px;
            text-align: center;

        }
        
        .container {
  position: relative;
  width: 240px;
  height: 120px;
}

        p {
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;
               color: white;
               text-transform: uppercase;
               font-size: 20px;
               scroll-margin-bottom:   30px ;
        }
           .flex-container .rect{
                width: 100%;
            position: relative;
            top: 0;
            }
            .flex-container.image {
                display: flex;
              flex-direction: column;
              flex-wrap: wrap;
                position: absolute;
            top: 80px;
            right: 15px;
            
            }


        .button1 {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;

                    }

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    
    <!-- <h2><%= list %></h2> -->
    <div class = "flex-container">
        <%for (var i = 0; i< list.length ; i++){ %>
           
               <div>
                <img id = "image"  src = "/<%= list[i]%>.png" width = "250" height="250">
                <svg width="400" height="250">
                    <rect id = "rect"  width="400" height="250"
                    style="fill:whitesmoke; ;fill-opacity:0.9;stroke-opacity:0" />
                  </svg>
                  <p> 
                        <%= list[i]%> 
                    </p>>
                </div>
                    
                    <div>
                    <button onclick="location.href = '/<%= list[i]%>';" id=<%= list[i]%> class=""button button1""> View
                    </button>
                </div>
            <% } %>
        
    </div>
</body>
</html>